.messages-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 35vh;
}

.certificate-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 10vh;
}

.message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 10vh;
}
